*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
#container{
    color:white;
    background-color: #516171;
}
#header{
    height: 90px ;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #A9508B;
}
h2{
    margin-left: 20px;
}
ul{ display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
li{
    list-style: none;
    font-size: 0.9rem;
    
}
.services a{
    color:#A9508B;
}
a{
    color: white;
}
span{
    color:#A9508B
}


a{
    text-decoration: none;
}

#subscribe{
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
h3{
    margin-left: 20px;
}
.submit{
    background-color: rgb(241, 83, 21);
    width: 100px;
    border:none;
    color: white;
}
input{
    height: 30px;
    width: 250px ;
}
#graphic{
    background-color: white;
    border:none;
    height: 550px;
    display:flex;
    flex-direction: row;
    
}
.graph{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#doublep{
    width: 65%;
    margin:30px;
}
#doublep h4{
    margin: 0 0 20px ;
    color:black;
    text-align: left;
}

#p1, #p2, #p3{
    color:black;
    background-color: hsl(0, 0%, 93%);
    margin:5px 30px 0 0;
    padding: 15px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
}
#p1 p, #p2 p, #p3 p{
    margin:17px 0 ;
    font-size: 0.8rem;
}
h5{
    margin:15px 0 20px 0;
}


#form{
    width: 35%;
    height: 280px;
    background-color: #384452;
    margin: 35px 30px 30px 40px;
    display:flex;
    flex-direction: column;
    padding: 0 0 20px 20px;
    
}
label, input{
    height: 30px;
    width: 90%;
    font-size: 0.9rem;
}
input{
    margin-bottom: 5px;    
}
#send{
    width: 15%;
    height: 45px;
    background-color: rgb(241, 83, 21);
    border:none;
    color: white;
}

#form h4{
    margin: 30px 0 20px 0;
}
::placeholder{
    font-size: 0.7rem;
}
#message::placeholder{
    font-size: 0.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

#footer{
    height:120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer img{
    width:200px;
    margin-top: 5px;
}
